@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100vh;
  background-color: #f9f9f9;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.nav-links,
a {
  display: flex;
  gap: 30px;
  font-weight: 500;
  text-transform: capitalize;
  list-style-type: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #000;
}

.nav-center h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

/* Title */
.title {
  height: 250px;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
}
h1 {
  font-size: 15rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
}

/* Images */
#images #swt-1 {
  position: absolute;
  right: 45%;
  bottom: 13%;
  height: 250px;
}
#images #swt-2 {
  position: absolute;
  right: 36%;
  bottom: 5%;
  height: 200px;
}
#images #swt-3 {
  position: absolute;
  right: 21%;
  bottom: 15%;
  height: 290px;
}
/* Product Details */
#product-container {
  position: absolute;
  bottom: 15%;
  left: 2%;
  width: 25%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

.product-info,
.product-type {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-info h3,
.product-type h4 {
  font-weight: 600;
}

#bottom-bar {
  width: 100%;
  padding: 1.5rem 5rem 1.5rem 3.5rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bottom-bar span {
  font-size: 1.5em;
  /* font-family: Poppins; */
  font-style: italic;
}
#bottom-bar p {
  display: flex;
  align-items: end;
  gap: 10px;
}
#bottom-bar a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline 2px;
}

#bottom-bar p i {
  margin-bottom: 5px;
  font-size: 16px;
}
